/* src/components/Dashboard.css */

.dashboard-container {
    display: flex;
    min-height: 100vh;
  }
  
  .dashboard-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-color: #fae9ff54;
  }
  
  .dashboard-content h1 {
    font-size: 30px;
    color: #2c3e50;
  }
  
  .dashboard-content p {
    font-size: 18px;
    color: #34495e;
  }
  